{% extends 'header.html' %}
{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body style="background-color:honeydew;">
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="margin-top: -30px;margin-bottom: -30px;">
                    <div class="product-bit-title text-center"><br><br>
                        <h2><b>Shopping Cart</b></h2><hr>
                    </div><br><br>
                </div>
            </div>
        </div>
    </div> <!-- End Page title area -->
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                {% if carts %}     
                <div class="col-md-15>
                    <div class="product-content-right">
                        <div class="woocommerce">  
                                <table cellspacing="0" class="shop_table cart" border="3" style="align-items: center"; >
                                    <thead>
                                        <tr>
                                            <th class="product-remove" style="padding-right:150px ">&nbsp;</th>
                                            <th class="product-thumbnail" style="padding-right:150px;">&nbsp;</th>
                                            <th class="product-name" style="padding-right:150px;" >Product</th>
                                            <th class="product-price" style="padding-right:150px;">Price</th>
                                            <th class="product-quantity" style="padding-right:150px;">Quantity</th>
                                            <th class="product-subtotal" style="padding-right:150px;">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in carts %}
                                        <tr class="cart_item">
                                            <td class="product-remove">
                                                <a title="Remove this item" class="remove" href="{% url 'remove_from_cart' pk=i.pk %}">×</a> 
                                            </td>
                                            <td class="product-thumbnail">
                                                <a href="{% url 'single_product' pk=i.product.pk %}"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="{{i.product.product_image.url}}"></a>
                                            </td>
                                            <td class="product-name">
                                                <a href="{% url 'single_product' pk=i.product.pk %}">{{i.product.product_company}}</a> 
                                            </td>
                                            <td class="product-price">
                                                <span class="amount">{{i.product.product_price}}</span> 
                                            </td>
                                            <td class="product-quantity">
                                                <div class="quantity buttons_added">
                                                    <form name="change_qty" method="post" action="{% url 'change_qty' pk=i.pk %}">
                                                    {% csrf_token %}    
                                                    <input type="number" size="4" class="input-text qty text" title="Qty" value="{{i.product_qty}}" name="product_qty" min="0" step="1" onchange="this.form.submit();">
                                                    </form> 
                                                </div>
                                            </td>
                                            <td class="product-subtotal">
                                                <span class="amount">{{i.total_price}}</span> 
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td class="actions" colspan="6">
                                                <!-- <div class="coupon">
                                                    <label for="coupon_code">Coupon:</label>
                                                    <input type="text" placeholder="Coupon code" value="" id="coupon_code" class="input-text" name="coupon_code">
                                                    <input type="submit" value="Apply Coupon" name="apply_coupon" class="button">
                                                </div> -->
                                               <form name="checkout" method="post" action="{% url 'pay' %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="amount" value="{{net_price}}">
                                                <input type="submit" value="CHECKOUT" name="proceed" class="btn btn-danger" style="margin-left:950px;">
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table><br>
                            <div class="cart-collaterals">
                            <div class="cart_totals ">
                                <h2>Cart Totals</h2><br>
                                <table cellspacing="0" border="3" style="align-items: center";>
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Cart Subtotal</th>
                                            <td><span class="amount">{{net_price}}</span></td>
                                        </tr>
                                        <tr class="shipping">
                                            <th>Shipping and Handling</th>
                                            <td>Free Shipping</td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Order Total</th>
                                            <td><strong><span class="amount">{{net_price}}</span></strong> </td>
                                        </tr>
                                    </tbody>
                                </table><br><br>
                            </div>
                        </div>
                    </div>  
                {% else %}
                <h1 style="margin-left: 400px;margin-top: 200px;">No Products In Carts</h1>
                {% endif %}        
                </div>                         
            </div>
        </div>
    </div>

  </body>
</html>
{% endblock %}