{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="sub_page" >
  <!-- shop section -->
  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          My Order
        </h2>
      </div>
      <div class="row">
        {% if carts %}
          {% for i in carts %}
          <div class="col-md-6 ">         
            <div class="box">
              <a href="">
                <div class="img-box">
                  <a href="{% url 'single_product' pk=i.product.pk %}"><img src="{{i.product.product_image.url}}" alt="" style="width:250px; height: 250px; "></a>
                </div>
                <div class="detail-box">
                  <h6>
                    {{i.product.product_company}}
                  </h6>
                  <h6>
                    Price:
                    <span>
                      {{i.product.product_price}}
                    </span>
                  </h6>
                </div>
                <div class="new">
                  <span>
                   New 
                  </span>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}  
        {% else %}
          <h1 align="center">You Haven't Purchased Anything </h1> 
        {% endif  %} 
      </div>  
  </section>
</body>
</html>
{% endblock %}