{% extends 'header.html' %}
{% load static %}
{% block content %}
<hr>
<!DOCTYPE html>
<html lang="en">

<head>
  
  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <div class="heading_container">
              <h2>
               New Password
              </h2>
            </div>
            {% if msg %}
              <b style="color:red;">{{msg}}</b>
            {% endif %}
            <form action="{% url 'new_password' %}" method="post">
              {% csrf_token %}
                <div>
                <input type="hidden" name="email" value="{{email}}">
                </div>
                <input type="password" name="new_password" placeholder="New Password" />
                </div>
                <div>
                <input type="password" name="cnew_password" placeholder="Confirm New Password" />
                </div>
              <div class="d-flex ">
               <input type="submit"  name="action" value="Update Password" class="btn btn-danger" style="margin-left: 180px; margin-right: 180px;">
              </div>
            </form>
          </div>
       
      </div>
    </div>
  </section>

  <!-- end contact section -->

<!-- End Google Map -->

</body>

</html>
{% endblock %}