{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  
  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <div class="heading_container">
              <h2>
               Enter OTP
              </h2>
            </div>
            {% if msg %}
              <b style="color:red;">{{msg}}</b>
            {% endif %}
            <form action="{% url 'verify_otp' %}" method="post">
              {% csrf_token %}
              <div>
                <input type="hidden" name="otp" value="{{otp}}">
                <input type="hidden" name="email" value="{{email}}">
              </div>
              <div>
                <input type="password" name="uotp" placeholder="Enter OTP" />
              </div>
              <div class="d-flex ">
              <input type="submit"  name="action" value="Verify OTP" class="btn btn-danger" >
              </div>
            </form>
          </div>
       
      </div>
    </div>
  </section>

  <!-- end contact section -->

<!-- End Google Map -->

</body>

</html>
{% endblock %}