{% extends 'seller_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body> 
  <!-- shop section -->
  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Latest Watches
        </h2>
      </div>
      <div class="row">
        {% for i in products %}
        <div class="col-md-6 ">
          <div class="box">
            <a href="">
              <div class="img-box" >
               <a href="{% url 'seller_product_detail' pk=i.pk %}"> <img src="{{i.product_image.url}}" alt="" style="width:220px ;height:250px;"></a>
              </div>
              <div class="detail-box" >
                <h6>
                  {{i.product_company}}  {{i.product_model}}
                </h6>
                <h6>
                  Price:
                  <span>
                    {{i.product_price}}
                  </span>
                </h6>
              </div>
              <div class="new" >
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>  
  </section>
  <!-- end shop section -->
  <!-- about section -->
  <!-- end client section -->

</body>

</html>
{% endblock %}