{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>      
  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 col-lg-5 ">
          <div class="img-box">
            <img src="{{product.product_image.url}}" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-7">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Product Details
              </h2><br><br>
              <h1>{{product.product_company}}</h1>
            </div>
            <h1>Rs.{{product.product_price}}</h1>
            <p>
              {{product.product_desc}}
            </p>
            {% if wishlist_flag %}
              <a href="{% url 'remove_from_wishlist' pk=product.pk %}" type="button">
              Remove From Wishlist
              </a>
            {% else %}
              <a href="{% url 'add_to_wishlist' pk=product.pk %}" type="button">
              Add To Wishlist  
              </a>
            {% endif %}
              &nbsp;&nbsp;
               <a href="{% url 'add_to_cart' pk=product.pk %}" type="button">
                Add To Cart
              </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- feature section -->


  <!-- end contact section -->

  <!-- client section -->   
</body>

</html>
{% endblock %}